[Unit]
Description=LiteSH Daemon

[Service]
Type=simple
User=root
ExecStart=/usr/bin/LiteSHserver
KillMode=control-group
Restart=always

[Install]
WantedBy=multi-user.target
